<div class="container-app">
  <h1 class="title">Registrarse:</h1>
  <form>
    <div class="form-group">
      <label class="label">Nombre</label>
      <div>
      <input type="text" name="name" autocomplete="off" class="input" required="true" placeholder="Escriba su nombre">  
      </div>
    </div>
    <div class="form-group">
      <label class="label">Email</label>
      <div>
        <input type="email" name="email" autocomplete="off" class="input" [(ngModel)]="modelRegister.email" placeholder="Escriba su correo electrónico" required="true">
      </div>
    </div>
    <div class="form-group">
      <label class="label">Contraseña</label>
      <div>
        <input autocomplete="off" class="input" [(ngModel)]="modelRegister.password" placeholder="Escriba su contraseña" required="true" type="password" name="password">
      </div>
    </div>
    <button type="submit" id="button_Registrarse" (click)="createNewUser()" class="button btn-success">Registrarse</button>
    <button id="button_back2login" (click)="back2Login()" class="button btn-success">Regresar a Login</button>
  </form>
</div>
